* {
   box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

.header__bgc {
    background-image: url("/src/assets/pexels-kelly-2869205.jpg");
    background-repeat: repeat-x;
}

/*.header__bgc:before {*/
/*    background-color: black;*/
/*    opacity: .4;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    min-height: 100vh;*/
/*}*/

.header {
}

.header .header__inner {
    margin: auto;
    max-width: 62rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 5.5rem;
    width: 9.5rem;
    display: flex;
    margin: 1.25rem;
    justify-content: center;
}

.header__pic {
    height: 5.5rem;
    width: 9.5rem;
    align-self: center;
}

.header .navbar {
    align-self: flex-end;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar__item {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color, background-color .4s;
    padding: .7rem;
}

.navbar__item--special, .navbar__item:hover {
    color: black;
    background: limegreen;
}

.about-us {
    min-height: 100vh;
}