:root {
    --main-font: sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

@keyframes slide-1-animation {
    0% {
        left: 0
    }
    25% {
        left: 0
    }
    40% {
        left: -100%
    }
    65% {
        left: -100%
    }
    80% {
        left: -200%
    }
    100% {
        left: -200%
    }
}

@keyframes slide-2-animation {
    0% {
        left: 100%
    }
    25% {
        left: 100%
    }
    40% {
        left: 0
    }
    65% {
        left: 0
    }
    80% {
        left: -100%
    }
    100% {
        left: -100%
    }
}

@keyframes slide-3-animation {
    0% {
        left: 200%
    }
    25% {
        left: 200%
    }
    40% {
        left: 100%
    }
    65% {
        left: 100%
    }
    80% {
        left: 0
    }
    100% {
        left: 0
    }
}

.header__bgc {
    background-image: url("/src/assets/pexels-kelly-2869205.jpg");
    background-repeat: repeat-x;
    position: relative;
}

.header__bgc:before {
    content: '';
    background-color: black;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.header {
}

.header .header__inner {
    margin: auto;
    max-width: 68rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

.header .header__logo {
    height: 5.5rem;
    width: 9.5rem;
    display: flex;
    margin: 1.25rem;
    align-items: center;
}

.header .logo__shadow {
    -webkit-box-shadow: 5.5rem 0 7rem 4rem rgba(251, 6, 34, 0.5);
    -moz-box-shadow: 5.5rem 0 7rem 4rem rgba(251, 6, 34, 0.5);
    box-shadow: 5.5rem 0 7rem 4rem rgba(251, 6, 34, 0.5);
}

.header .header__pic {
    height: 5.5rem;
    width: 9.5rem;
    align-self: center;
}

.header .navbar {
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.header .navbar__item {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all .4s;
    padding: .7rem;
    font-family: var(--main-font);
}

.header .navbar__item:hover {
    text-shadow: .25rem .25rem .25rem rgba(212, 15, 18, 0.99);
    box-shadow: .1rem .1rem .25rem .25rem rgba(212, 15, 18, 0.99);

}

.about-us {
    min-height: 100vh;
    display: flex;
}

.about-us .about-us__inner {
    display: flex;
    position: relative;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us .about-us__hdl {
    margin: 4rem auto;
    color: white;
    font-size: 7rem;
    font-family: var(--main-font);
    text-shadow: .25rem .25rem .25rem rgba(255, 255, 255, .7);
}

.about-us .about-us__text {
    margin: 4rem auto;
    color: white;
    font-size: 1.5rem;
    font-family: var(--main-font);
    padding: 0 2rem;
    text-indent: 2rem;
    line-height: 2rem;
    text-shadow: .25rem .25rem .25rem rgba(255, 255, 255, .4);
}

.main {

}

.menu {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/assets/PXL_20220312_003121533-scaled.jpg");
    position: relative;
}

.menu:before {
    content: '';
    background-color: black;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu .menu__inner {
    display: flex;
    max-width: 68rem;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.menu .menu__hdl {
    text-align: center;
    font-size: 7rem;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    margin: 4rem auto;
    text-shadow: .25rem .25rem .25rem rgba(255, 0, 0, .7);
}

.menu .menu__text {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
    margin: 4rem auto;
    text-shadow: .25rem .25rem .25rem rgba(255, 255, 255, .5);
}

.menu .menu__boxes {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 4rem;
    background-color: #131316;
    border: 4px solid red;
    box-shadow: 0 0 1rem red;
    transition: all .4s;
}

.menu .menu__boxes:hover {
    box-shadow: 0 0 4rem red;
}

.menu .menu__more--btn {
    display: inline-flex;
    margin: 2rem 3rem;
    min-width: 8rem;
    min-height: 3rem;
    background-color: red;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-weight: bold;
    transition: all .4s;
}

.menu .menu__more--btn:hover {
    background-color: white;
    color: red;
}

.menu .menu__box {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 18rem;
    max-width: 18rem;
    justify-content: space-around;
    background-color: black;
}


.menu .box__hdl {
    color: white;
    text-align: center;
}

.menu .box__text {
    color: white;
    text-align: center;
}

.menu .burger__pic {
    max-width: 15rem;
    box-shadow: .1rem .1rem .25rem .25rem rgba(255, 255, 255, .6);
}

.gallery {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.gallery .gallery__main {
    background-color: #131316;
}


.gallery .gallery__hdl {
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    font-family: var(--main-font);
    color: red;
    text-shadow: 0 0 .5rem rgba(255, 0, 0, .7);
}

.gallery .gallery__text {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: var(--main-font);
    color: white;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, .7);
}

.gallery .gallery__photo {
    width: 30%;
    margin-left: 2rem;
}

.gallery .slider__slides {
    position: relative;
    min-height: 18.75rem;
    overflow: hidden;
    width: 28%;
    left: calc(50% - 13.51375rem)
}

.gallery .slider__slide {
    display: inline-block;
    width: 100%;
    min-height: 18.75rem;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

.gallery .slider__slide:first-child {
    background-image: url("/src/assets/img_7013.jpg");
    animation: slide-1-animation 10s infinite;
    animation-direction: alternate;
}

.gallery .slider__slide:nth-child(2) {
    background-image: url("/src/assets/img_7017-300x200.jpg");
    left: 100%;
    animation: slide-2-animation 10s infinite;
    animation-direction: alternate;
}

.gallery .slider__slide:last-child {
    background-image: url("/src/assets/img_7027.jpg");
    left: 200%;
    animation: slide-3-animation 10s infinite;
    animation-direction: alternate;
}

.gallery .gallery__buttons {

}

.gallery .slider__btn {
    max-height: 2rem;
    max-width: 3rem;
}

.gallery .slider__btn--next {
}

.contact {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact .contact__inner {
    width: 75%;
}

.contact .contact__hdl {
    margin: 0 auto;
    padding: 10rem 0;
    color: white;
    text-align: center;
    font-size: 7rem;
    font-family: var(--main-font);
    text-shadow: 0 0 .5rem rgba(255, 255, 255, .7);
}

.contact .contact__boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contact .contact__box {
    background-color: #131316;
    width: 20rem;
    height: 10rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: .5rem;
}

.contact .contact__img {
}

.contact .contact__text {
    color: white;
    font-family: var(--main-font);
    font-size: 1.4rem;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, .7);
}

.contact .contact__hdl--text {
    color: white;
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: bolder;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, .7);
}